<% if params[:action] == "new" %>
    <p id="upcoming_events_message">
        <%="There are #{Event.upcoming.count} upcoming events! Choose your destination and add your selected event here!"%>
    </p>
<% end %>

<div class="itinerary_form">
    <%= form_for @itinerary do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %><br><br>

        <%= f.label :destination %>
        <%= f.collection_select :destination_id, Destination.all, :id, :city %><br><br>

        <%= f.label :event %>
        <%= f.grouped_collection_select :event_id, Destination.order(:city), :events, :city, :id, :description %><br><br>    

        <%= f.label :notes %>
        <%= f.text_area :notes %><br><br>

        <%= f.submit %>

    <% end %>
</div>