<h1> All Itineraries </h1>

<%= render 'layouts/flash' %>

<div id="itinerary_destination_filter">
    <h2> Filter by Destination </h2>

    <%= form_tag(controller: "itineraries", action: "selected_city", method: "post") do %>
        <%= collection_select :itinerary, :destination_id, current_user.destinations.uniq, :id, :city, {include_blank: 'Select a Destination'} %><br><br>
        <div><%= submit_tag 'Go' %></div>
    <% end %>
</div><br><br>

<% @upcoming_events_sorted.each do |upcoming_event| %>

    <div class="your_itineraries">
        <%= render partial: "itinerary", locals: {user_itinerary: upcoming_event.itineraries.first} %>
    </div>  
    <br><br>  

<% end %>