<h1> All Itineraries </h1>

<% current_user.itineraries.each do |i| %>
    <h1><%=i.name%></h1>
    <h1><%=i.destination.city%></h1>
    <h1><%=i.event.description%></h1>
    <h1><%=i.event.ticket_site%></h1>
    <h1><%=i.event.event_date%></h1>
    <h1><%=i.notes%></h1>
<% end %>