<h1> All Itineraries </h1>

<h2> Filter by Destination </h2>

<%= form_tag(controller: "itineraries", action: "selected_city", method: "post") do %>
    <%= collection_select :itinerary, :destination_id, current_user.destinations, :id, :city, {include_blank: 'Select a Destination'} %><br><br>
    <div><%= submit_tag 'Go' %></div>
<% end %>


<% @itineraries.each do |i| %>
    <div class="your_itineraries">
        <p><%=i.name%></p>
        <p><%=i.destination.city%></p>
        <p><%=i.event.description%></p>
        <p><%= link_to "Ticket Site", i.event.ticket_site, target: :_blank %></p>    
        <p><%=i.event.event_date%></p>
        <p><%=i.notes%></h1>
        <p><%= link_to "Edit", edit_itinerary_path(i) %></p> | <p><%= link_to "Delete Itinerary", itinerary_path(i), :method => :delete %><p>
    </div>  
    <br><br>   
<% end %>