<h1>New Itinerary</h1>

<%= form_for :itinerary, url: {action: "create"} do |f| %>

    Select Destination:<br>
    <%= f.collection_select :destination_ids, Destination.all, :id, :city %><br><br>

    <%= f.label :notes %>
    <%= f.text_area :notes %>

    <%= f.submit %>

<% end %>