
<div class="event_form">
    <%= form_for [@destination, @event] do |f| %>

        <%= f.label :description %>
        <%= f.text_field :description %><br><br>
    
        <%= f.label :ticket_site %>
        <%= f.text_field :ticket_site %><br><br>
    
        <%= f.label :event_date %>
        <%= f.datetime_field :event_date, :value => DateTime.now.strftime("%m/%d/%Y %I:%M%p") %><br><br>
    
        <%= f.submit %>

    <% end %>
</div>