<%= flash[:message] if flash[:message] %>

<h1> All Events </h1>

<% @events.each do |e| %>
    <h1><%=e.destination.city %></h1>
    <h1><%=e.description %></h1>
    <h1><%=e.ticket_site%></h1>
    <h1><%=e.event_date%></h1>
<% end %>