<h1>New Destination</h1>

<%= render partial: "layouts/errors", locals: {object: @destination} %>

<div class="destination_form">
    <%= form_for :destination, url: {action: "create"} do |f| %>

        <%= f.label :city %>
        <%= f.text_field :city %><br><br>

        <%= f.submit %>

    <% end %>
</div>