<!DOCTYPE html>
<html>
  <head>
    <title>MyItinerary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <% if is_admin? %>
          <%= link_to "New Destination", new_destination_path %>  |
          <%= link_to "All Destinations", destinations_path %>  |
        <% elsif %>  
          <%= link_to "Add Itinerary", new_itinerary_path %>  |
          <%= link_to "Your Itineraries", user_itineraries_path(current_user) %>  |
          <%= link_to "Your Events", user_events_path(current_user) %>  |
        <% end %>  
        <%= link_to "Logout", logout_path, method:"delete" %>  |
      <% else %>
        <%= link_to "Sign Up", signup_path %>  |
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
